<div th:fragment="footer" class="container-footer">
    <div class="footer-content">
        <a th:href="@{/contact}" class="footer-link">Контакт</a>
        <div class="contact-info">
            <p>Адреса: м.Чернігів вул.Київська 71/A</p>
            <p>Телефон: +(380)-63-709-8904</p>
            <p>Email: <a href="mailto:shiny-dishes-support@gmail.com" class="contact-email">shiny-dishes-support@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-content-1">
        <h3>Соціальні мережі</h3>
        <div class="social-icons">
            <div class="fa-facebook">
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="fa-twitter">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="fa-instagram">
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="fa-youtube">
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="fa-telegram">
                <a href="#"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>© 2024, Всі права захищені</p>
</div>
