<header>
    <div th:fragment="header" class="header-content">
        <div class="logo-container">
            <a th:href="@{/home}" class="logo-link">
                <img th:src="@{img/home/logo.png}" alt="logo">
            </a>
        </div>
        <div class="categories">
            <a th:href="@{/categoryDish}" class="category-link">Тарілки</a>
            <a th:href="@{/categoryGlasses}" class="category-link">Стакани та Келихи</a>
            <a th:href="@{/categoryDevices}" class="category-link">Прибори</a>
            <a th:href="@{/categoryCups}" class="category-link">Чашки</a>
            <a th:href="@{/categoryPots}" class="category-link">Каструлі</a>
            <a th:href="@{/categoryFryingPan}" class="category-link">Сковорідки</a>
        </div>
        <div class="header-controls">
            <span th:if="${session.loggedInUser}" th:text="${session.loggedInUser}"></span>
            <a th:if="${session.loggedInUser == null}" th:href="@{/login}" class="btn btn-login">Ввійти</a>
            <a th:if="${session.loggedInUser != null}" th:href="@{/logout}" class="btn btn-logout">Вийти</a>
            <a th:href="${session.loggedInUser != null ? '/basket' : '/login'}" class="category-link">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a th:href="${session.loggedInUser != null ? '/selected' : '/login'}" class="category-link">
                <i class="fas fa-heart"></i>
            </a>
        </div>
        <span class="menu-toggle" onclick="toggleMenu()">☰</span>
    </div>
</header>
